<p>
    <mat-toolbar>
     <!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
    <button mat-icon-button (click)="sendToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{pageTitle}}</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
     <mat-icon>person_outline</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    User <mat-icon class="ml-3">login</mat-icon>
  </button>
 </mat-menu>
  
  