table {
    width: 100%;
  }
th.mat-sort-header-sorted {
  color: black;
}
.searchbar {
	position: absolute;
	top: 1em;
  max-width:20%;
	right: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
<<<<<<< Updated upstream
}
=======
}
.mat-icon-button {
	width: auto;}
a{color:rgb(0, 195, 255);}
button{color:#444;outline: none;}
>>>>>>> Stashed changes
