<section>
    <p>
        <mat-toolbar>
          <span><img src="../../../assets/Logo-S.png" alt="Logo Here"></span>
        </mat-toolbar>
    </p>
    <div class="container mt-5">
        <div class="col-md-4 offset-md-8">
            <div class="form">
                <h1>Log In</h1>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn-secondary" >Submit</button>
                    </div>
                </form>
            </div>
            <p class="text-right mt-2">2020 &copy;, QIS India </p>
        </div>
    </div>
</section>
